---
http_interactions:
- request:
    method: get
    uri: https://www.ryanair.com/api/timtbl/3/schedules/BCN/periods
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"SCQ":{"firstFlightDate":"2026-03-30","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":7},"RIX":{"firstFlightDate":"2025-12-30","lastFlightDate":"2026-03-26","monthsFromToday":3,"months":3},"BRS":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"MLA":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"BRU":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"MXP":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"PRG":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-23","monthsFromToday":10,"months":10},"AHO":{"firstFlightDate":"2026-03-17","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":8},"EDI":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"STN":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"TNG":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"OPO":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"GDN":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"RBA":{"firstFlightDate":"2025-12-29","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"TRN":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"TRS":{"firstFlightDate":"2025-12-29","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"VNO":{"firstFlightDate":"2025-12-29","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"EMA":{"firstFlightDate":"2026-03-17","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":8},"OUD":{"firstFlightDate":"2025-12-29","lastFlightDate":"2026-10-22","monthsFromToday":10,"months":10},"WMI":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-23","monthsFromToday":10,"months":10},"FCO":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"BGY":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"MAH":{"firstFlightDate":"2026-03-29","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":7},"NCL":{"firstFlightDate":"2025-12-29","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"VCE":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"MAN":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"CRL":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"ARN":{"firstFlightDate":"2025-12-30","lastFlightDate":"2026-10-23","monthsFromToday":10,"months":10},"BTS":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"KRK":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"BLQ":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"LTN":{"firstFlightDate":"2025-12-29","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"LPL":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"ORK":{"firstFlightDate":"2025-12-29","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"OZZ":{"firstFlightDate":"2025-12-29","lastFlightDate":"2026-10-22","monthsFromToday":10,"months":10},"SVQ":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"HHN":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"BUD":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"DUB":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"BHX":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"CFU":{"firstFlightDate":"2026-06-03","lastFlightDate":"2026-09-30","monthsFromToday":10,"months":4},"TLL":{"firstFlightDate":"2025-12-29","lastFlightDate":"2026-10-22","monthsFromToday":10,"months":10},"NDR":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"IBZ":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"AGP":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"CGN":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"SOF":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"BVA":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"PMI":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"BER":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"LUX":{"firstFlightDate":"2025-12-29","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"VIE":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"PMO":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"PIK":{"firstFlightDate":"2026-03-31","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":7},"PEG":{"firstFlightDate":"2026-04-01","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":7},"FAO":{"firstFlightDate":"2026-03-31","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":7},"REG":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-22","monthsFromToday":10,"months":10},"LIS":{"firstFlightDate":"2025-12-29","lastFlightDate":"2026-10-22","monthsFromToday":10,"months":10},"FEZ":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"CPH":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-23","monthsFromToday":10,"months":10},"NAP":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"ZAD":{"firstFlightDate":"2026-06-03","lastFlightDate":"2026-08-30","monthsFromToday":9,"months":3},"RAK":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15}}'
  recorded_at: Sun, 28 Dec 2025 08:42:49 GMT
recorded_with: VCR 6.3.1
