---
http_interactions:
- request:
    method: get
    uri: https://www.ryanair.com/api/timtbl/3/schedules/BER/periods
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"MXP":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"OTP":{"firstFlightDate":"2025-12-29","lastFlightDate":"2026-10-23","monthsFromToday":10,"months":10},"EDI":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"STN":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"OPO":{"firstFlightDate":"2025-12-29","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"CDT":{"firstFlightDate":"2026-03-29","lastFlightDate":"2026-10-21","monthsFromToday":10,"months":7},"TRS":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-23","monthsFromToday":10,"months":10},"VNO":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"PFO":{"firstFlightDate":"2025-12-30","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"EMA":{"firstFlightDate":"2026-03-30","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":7},"DBV":{"firstFlightDate":"2026-03-30","lastFlightDate":"2026-10-22","monthsFromToday":10,"months":7},"PSA":{"firstFlightDate":"2025-12-30","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"TFS":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"TSF":{"firstFlightDate":"2025-12-31","lastFlightDate":"2026-03-28","monthsFromToday":4,"months":3},"BCN":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"TGD":{"firstFlightDate":"2026-03-30","lastFlightDate":"2026-10-23","monthsFromToday":10,"months":7},"MAD":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-23","monthsFromToday":10,"months":10},"FCO":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"BGY":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"VCE":{"firstFlightDate":"2026-03-17","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":8},"MAN":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"LPA":{"firstFlightDate":"2025-12-30","lastFlightDate":"2027-03-25","monthsFromToday":15,"months":15},"BLQ":{"firstFlightDate":"2025-12-29","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"VLC":{"firstFlightDate":"2025-12-29","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"MRS":{"firstFlightDate":"2025-12-29","lastFlightDate":"2026-10-22","monthsFromToday":10,"months":10},"DUB":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"BUD":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"BHX":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-23","monthsFromToday":10,"months":10},"CFU":{"firstFlightDate":"2026-03-30","lastFlightDate":"2026-10-23","monthsFromToday":10,"months":7},"TLL":{"firstFlightDate":"2025-12-29","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"FUE":{"firstFlightDate":"2025-12-30","lastFlightDate":"2026-03-25","monthsFromToday":3,"months":3},"RHO":{"firstFlightDate":"2026-03-29","lastFlightDate":"2026-10-21","monthsFromToday":10,"months":7},"IBZ":{"firstFlightDate":"2026-03-30","lastFlightDate":"2026-10-23","monthsFromToday":10,"months":7},"ACE":{"firstFlightDate":"2025-12-30","lastFlightDate":"2026-03-28","monthsFromToday":4,"months":3},"AGP":{"firstFlightDate":"2025-12-28","lastFlightDate":"2027-03-27","monthsFromToday":15,"months":15},"SOF":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"PMI":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"SKG":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"CTA":{"firstFlightDate":"2025-12-30","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"PMO":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-23","monthsFromToday":10,"months":10},"HER":{"firstFlightDate":"2026-03-30","lastFlightDate":"2026-10-23","monthsFromToday":10,"months":7},"FAO":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"ATH":{"firstFlightDate":"2026-03-29","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":7},"REG":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-23","monthsFromToday":10,"months":10},"KGS":{"firstFlightDate":"2026-06-01","lastFlightDate":"2026-10-22","monthsFromToday":10,"months":5},"LIS":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"ALC":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-23","monthsFromToday":10,"months":10},"BRI":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":10},"ZAD":{"firstFlightDate":"2026-05-02","lastFlightDate":"2026-10-24","monthsFromToday":10,"months":6},"RAK":{"firstFlightDate":"2025-12-28","lastFlightDate":"2026-10-23","monthsFromToday":10,"months":10}}'
  recorded_at: Sun, 28 Dec 2025 08:42:48 GMT
recorded_with: VCR 6.3.1
