---
http_interactions:
- request:
    method: get
    uri: https://www.ryanair.com/api/views/locate/5/airports/INCORRECT/active
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>views/locate/5/airports/INCORRECT/active</Key><RequestId>3HE313WXG8BM6GWV</RequestId><HostId>9+T4UkXejvl50h1/YkDP7RZnQM9yQY4UWh8+oPsjlJbtWBaed+3FHYiuAkYyBQFaj0qnUa0BO02FfMllsLhbjf4/aG0B9U0e</HostId></Error>
  recorded_at: Sun, 28 Dec 2025 09:32:51 GMT
recorded_with: VCR 6.3.1
