---
http_interactions:
- request:
    method: get
    uri: https://www.ryanair.com/api/views/locate/3/countries/en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Amz-Replication-Status:
      - COMPLETED
      Last-Modified:
      - Thu, 18 Dec 2025 11:46:59 GMT
      Etag:
      - '"0ac510104444145567c642c525f6016d"'
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - kXM04KO3QYuk6zsBcHIuhYyVsIK5p27a
    body:
      encoding: ASCII-8BIT
      string: '[{"code":"dk","iso3code":"DNK","name":"Denmark","currency":"DKK","defaultAirportCode":"BLL","schengen":true},{"code":"gb","iso3code":"GBR","name":"United
        Kingdom","currency":"GBP","defaultAirportCode":"STN","schengen":false},{"code":"es","iso3code":"ESP","name":"Spain","currency":"EUR","defaultAirportCode":"BCN","schengen":true},{"code":"ma","iso3code":"MAR","name":"Morocco","currency":"MAD","defaultAirportCode":"FEZ","schengen":false},{"code":"it","iso3code":"ITA","name":"Italy","currency":"EUR","defaultAirportCode":"BGY","schengen":true},{"code":"jo","iso3code":"JOR","name":"Jordan","cu[...]
